<div class="col-md-3 full-height contact-groups b-r">
    <span class="list text-bold cursor-pointer"
          ng-click="clearFilter()">
      Alle Gruppen
    </span>
  <ul class="contact-groups">
    <li ng-repeat="userGroup in userGroups" ng-class="{'selected': selectedGroupId == userGroup.id }">
      <edit-in-place ng-model="userGroup"
                     callback="updateUserGroup(userGroup)"
                     ng-click="setGroup(userGroup.id)">
      </edit-in-place>
    </li>
  </ul>
</div>
