.edit-in-place{
    position: relative;
}

.edit-in-place input{
    outline: none;
    width: 85%;
    box-shadow: 0;
}

.edit-in-place input:focus{
    background-color: #eee;
}


.edit-in-place i{
    position: absolute;
    top: 13px;
    right: 4px;
}

.edit-in-place i.hide{
    display: none;
}